samples/Nexar.samples/.idea/.idea.Nexar.dir/.idea
.DS_Store
samples/Nexar.samples/bin/Debug/net8.0
Nexar /ozel.png
.idea/.idea.Nexar /.idea
Nexar /.idea/.idea.Nexar .dir/.idea
Nexar /bin/Debug
Nexar /bin/Debug
Nexar /bin/Debug
Nexar.Test/Nexar.Test/bin/Debug/net8.0
